body {
    background: #f5f4f4;
    font-family: 'Roboto', sans-serif;
    min-width: 600px;

}

/*     Header */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #422bab;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #4444a6, #99acf2);
    background-size: 200% 200%;

}

.inner-header {
    width: 1000px;
    height: 100%;

}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
    color: #ffff;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Monteserrat';
    font-size: 32px;
    font-weight: 200;
}

.logo-container h1 span {
    font-weight: 800;
    color: #ffff;
}

#developer-btn {
    background-color: #999ff2;
    color: #262a73;
    border: 1px solid #141440;
    padding: 5px 20px;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin-top: 20px;
    position: absolute;
    right: 20px;
}



.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 50px auto;
    padding: 25px;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: #fdfdfd;
    font-weight: lighter;


}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
    border-bottom: #141d40 2px solid;
}

.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.mytabs input[type="radio"]:checked+label {
    background-color: #999ff2;
    color: #262a73;
    opacity: 0.8;
    border-bottom: #141440 2px solid;
}

.mytabs button {
    background-color: #999ff2;
    color: #262a73;
    border: 1px solid #141440;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 10;
    display: inline-block;
    margin: 10px 0;

}

.mytabs button:hover {
    background-color: #7e7ec8;
    color: #fff;
    opacity: 0.5;
}

.project-desc {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    opacity: 0.8;
}

.project-desc h1 {
    color: #1e1e1e;
    height: 30px;
    width: auto;
    vertical-align: left;
    font-family: 'Monteserrat';
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    padding-top: 50px;
    border-bottom: #5334db 2px solid;
}

#summary {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f2f0fb;
    border: #5334db 2px solid;
    opacity: 0.8;
    border-radius: 16px;

}

#ml-desc {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #f2f0fb;
    border: #5334db 2px solid;
    opacity: 0.8;
    border-radius: 16px;

}

.sp-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;

}

.sp-boxes .box {
    width: fill;
    height: 80px;
    border-radius: 20px;
    background: #c4cecb8b;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}